<div class="container-fluid mb-5 ">
    <app-navbar></app-navbar>

    <div class="d-flex align-items-center flex-column mt-4 pt-3 gap-3 border-t-[1px]" *ngIf="results">
        <h2 class="d-flex align-items-center h-min gap-3">
            <svg xmlns="http://www.w3.org/2000/svg" style="height: 25px;" fill="currentColor" class="bi bi-film"
                viewBox="0 0 16 16">
                <path
                    d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm4 0v6h8V1zm8 8H4v6h8zM1 1v2h2V1zm2 3H1v2h2zM1 7v2h2V7zm2 3H1v2h2zm-2 3v2h2v-2zM15 1h-2v2h2zm-2 3v2h2V4zm2 3h-2v2h2zm-2 3v2h2v-2zm2 3h-2v2h2z" />
            </svg>
            <h2 class="m-0 font-semibold text-2xl sm:text-xl lg:text-4xl">{{results.title}}</h2>
        </h2>
        <div class=""> <img [src]="results.featured_image" alt="" class="h-[20rem] sm:h-[25rem] border-2 lg:h-[30rem]"> </div>
        <span class="flex flex-column align-items-center gap-3 py-4 text-sm sm:text-xs lg:text-lg">
            <p class="text-center "> {{results.categories}} </p>
            <p> {{results.url_slug | titlecase}} </p>
            <p> {{results.date | date:'dd MMM yyyy, hh:mm a'}} </p>
        </span>


        <div *ngIf="type === 'movies' || type === 'bolly_movies' && results as movie"
            class="d-flex flex-column gap-3 align-items-center">
            <h4 class="font-medium text-lg sm:text-xl overflow-hidden">Movie Download Links</h4>
           <div *ngIf="stream?.streams?.length === 0">
                No Link Found
                </div>

            <div *ngFor="let stream of stream.streams || stream" >
                <button class="p-2 bg-red-500 text-sm sm:text-base  w-[16rem] sm:w-fit rounded hover:scale-95 ">

                    <a [href]="stream.url" target=" "> {{stream.title}} </a>
                </button>
            </div>
        </div>


        <div *ngIf="type === 'series' || type === 'bolly_series' || type === 'anime'  && results as series"
            class="flex flex-column align-items-center">

            <h4 class="overflow-hidden">Series Download links</h4>


            <select [(ngModel)]="selectedValue" class="p-2 rounded" (change)="select()">
                <option value="" disabled selected class="">Select Season</option>
                <div *ngIf="stream?.seasons?.length === 0">
                No Link Found
                </div>
                <option *ngFor="let season of stream?.seasons || stream | keyvalue; let i = index" [ngValue]="season">Season
                    {{ season.key.toString().split('_')[1] }}</option>
            </select>

           <div
  *ngIf="selectedValue as season"
  class="flex flex-col items-center m-3 w-full">

  <!-- Title -->
  <h6
    class="text-center text-sm sm:text-base px-2 mb-2 break-words">
    {{ selectedValue.value?.title }}
  </h6>

  <!-- Content Row -->
  <div
    class="flex flex-col sm:flex-row items-center gap-3 w-full sm:w-fit overflow-x-auto">

    <!-- Icon -->
    <div class="shrink-0">
      <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 width="35px" height="35px" viewBox="0 0 550.801 550.801"
	 xml:space="preserve">
<g>
	<g>
		<path d="M475.095,131.992c-0.032-2.526-0.833-5.021-2.568-6.993L366.324,3.694c-0.021-0.034-0.053-0.045-0.084-0.076
			c-0.633-0.707-1.36-1.29-2.141-1.804c-0.232-0.15-0.465-0.285-0.707-0.422c-0.686-0.366-1.393-0.67-2.131-0.892
			c-0.2-0.058-0.379-0.14-0.58-0.192C359.87,0.114,359.047,0,358.203,0H97.2C85.292,0,75.6,9.693,75.6,21.601v507.6
			c0,11.913,9.692,21.601,21.6,21.601H453.6c11.918,0,21.601-9.688,21.601-21.601V133.202
			C475.2,132.796,475.137,132.398,475.095,131.992z M243.599,523.494H141.75v-15.936l62.398-89.797v-0.785h-56.565v-24.484h95.051
			v17.106l-61.038,88.636v0.771h62.002V523.494z M292.021,523.494h-29.744V392.492h29.744V523.494z M399.705,463.44
			c-10.104,9.524-25.069,13.796-42.566,13.796c-3.893,0-7.383-0.19-10.104-0.58v46.849h-29.352V394.242
			c9.134-1.561,21.958-2.721,40.036-2.721c18.277,0,31.292,3.491,40.046,10.494c8.354,6.607,13.996,17.486,13.996,30.322
			C411.761,445.163,407.479,456.053,399.705,463.44z M97.2,366.752V21.601h129.167v-3.396h32.756v3.396h88.28v110.515
			c0,5.961,4.831,10.8,10.8,10.8H453.6l0.011,223.836H97.2z"/>
		<path d="M359.279,413.87c-6.033,0-10.114,0.586-12.245,1.171v38.676c2.521,0.585,5.632,0.785,9.914,0.785
			c15.736,0,25.46-7.979,25.46-21.378C382.408,421.063,374.045,413.87,359.279,413.87z"/>
		<rect x="259.124" y="39.918" width="32.756" height="13.516"/>
		<rect x="226.368" y="21.601" width="32.756" height="10.125"/>
		<rect x="226.368" y="60.146" width="32.756" height="13.516"/>
		<rect x="259.124" y="82.274" width="32.756" height="13.518"/>
		<rect x="259.124" y="124.983" width="32.756" height="13.516"/>
		<rect x="226.368" y="103.275" width="32.756" height="13.516"/>
		<path d="M259.124,149.537c-23.193,0-34.225,18.792-34.225,41.99l-7.765,70.348c0,23.198,18.792,42.003,41.984,42.003
			c23.19,0,41.974-18.805,41.974-42.003l-7.741-70.348C293.361,168.334,282.318,149.537,259.124,149.537z M273.04,285.431h-27.799
			v-58.728h27.799V285.431z"/>
	</g>
</g>
</svg>
    </div>

    <!-- ZIP Buttons -->
    <div
      class="flex flex-wrap gap-2 justify-center sm:justify-start w-full">

      <button
        *ngFor="let obj of selectedValue.value?.zip"
        class="btn btn-sm sm:btn-md btn-success whitespace-nowrap hover:scale-95 ">

        <a
          [href]="obj.url"
          target="_blank"
          rel="noopener noreferrer"
          class="text-white no-underline">
          {{ obj.quality }}
        </a>

      </button>
    </div>

  </div>
</div>

            <div *ngFor="let episodes of selectedValue.value?.episodes | keyvalue; let i = index" class="">
                <div class="w-100 ">
                    <h5 class="font-bold w-fit  p-1"> Episode {{i+1}}</h5>
                </div>

                <div class="flex w-[90%] sm:w-[30rem] lg:px-5 my-3">
                    <div *ngFor="let episode of episodes.value" class="w-fit px-2">

                        <button class=" rounded bg-red-500 p-2  hover:scale-95 ">
                            <a [href]="episode.url" target=" " class="flex align-items-lg-center gap-2">
                                {{episode.size}}

                            </a>
                        </button>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>